container_commands:
  01_migrate:
    command: "source /Users/eden/.local/share/virtualenvs/ShimmeringWorthwhileQueryplan-1-R4I2E4wp/bin/activate && python3 manage.py migrate"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config/settings.py

